* {
  margin: 0%;
  padding: 0%;
  left: 0%;
  right: 0%;
}

nav {
  background-color: rgb(243, 252, 247);
  top: 0;
  right: 0;
  left: 0;
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0% 16%;
  display: space;
}
.but {
border-color: black;
}

h2 {
  color: rgb(140, 101, 204);
}

i {
  color: rgb(91, 6, 215);
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
}

ul.li {
  margin: 0;
  justify-content: center;
  margin-right: 1cm;
  color: aqua;
  text-align: center;
}

a {
  text-decoration: none;
  /* color: white; */
  padding: 1em;
  margin-top: 1px;
  justify-content: center;
  align-items: center;
}

a:hover {
  background-color: #555;
}
#root {
  text-align: top;
  max-width: 5900px;
  /* padding: 2rem; */
}
.last {
  /* margin-top: 100px; */
 /* min-height: 5%; */
  width: 100%;
  padding: 0%;
  margin: 0%;
  
  padding-bottom: 0%;
  /* padding: 1% 15% 0 15%; */
  font-family: Outfit;
  /* margin-top: 10%; */
}
#la1 {
  margin-top: 6px;
  right: 0%;
  bottom: 0%;
  left: 0%;
  display: space;
  justify-content: space-between;
  align-content: center;
  margin-top: 0%;
  padding: 2%;
  background: radial-gradient(
    circle,
    rgb(30, 65, 122) 0%,
    rgb(11, 32, 67) 100%
  );
}

.num {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  font-size: 50px;
}

.nam {
  color: white;
  margin: 0;
  justify-content: space-between;
  padding-right: 2%;
 
}

.nmm {
  display: flex;
  justify-content: space-between;
}
.hello {
width: 1530px;
  display: flex;
  
  justify-content: space-between;
  left: 0%;
  right: 0%;
  background-color: rgb(238, 247, 242);
}
.photo {
  height: 500px;
  /* width: 450px; */
  padding-right: 200px;
  padding-top: 70px;
  margin-bottom: 30px;
}
mark {
  color: blueviolet;
  background-color: rgb(232, 240, 235);
}
#btn {
  padding: 5%;
  margin: 5%;
padding-right: 100px;
  
}
.btn2 {
  background-color: rgb(119, 119, 240);
}
.btn3 {
  margin: 5%;
  background-color: rgb(238, 247, 242);
  border-color: #555;
}
.nmm {
  margin: 0%;
}
.bod {
  padding-top: 10%;
  margin-left: 0% 20%;
  
  padding-left: 200px;
  height: 20%;

}
