.home{
    /* margin-left: 10%; */
    display: flex;
    background-color: rgb(163, 107, 119);
   
}
.img{
    display: flex;
    flex-direction: column;
}
.img1{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 2%;
    margin-left: 20%;
}

.img2{
    width: 15rem; /* Adjust the width and height as needed */
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    
    margin-left: 20rem;
}

.img3{
    width: 15rem; /* Adjust the width and height as needed */
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20%;
   
}

.top{
    margin-top: 5%;
    margin-left: 10%;
    
}
.first{
    font-size: 5rem;
}
.text{
    font-style: bold;
    font-weight: 2;
    margin-left: 5rem;
}
 .circle{
    margin-bottom: 2px;
 }

 .btn1{
    font-size: 2rem;
    border-radius: 10px;
    margin-left: 5rem;
    margin-top: 2rem;
 }
 .btn2{
    margin-left: 20%;
    font-size: 2rem;
    border-radius: 10px;
 }
 @media screen and (max-width:850px) {
    .home{
       margin-top: 20px;
        display: flex;
        padding-bottom: 20px;
    }

    .img{
        display: none;
        
    }
   
 }