.footer{
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    margin-top: 5rem;
    background-color: rgb(239, 235, 230);
}
#img{
    margin-top: 2rem;
    margin-left: 2rem;
}
/* .logo{
    display: flex;
} */
.image{
   margin-top: 2rem;
    height: 3rem;
}
.hy{
    margin-left: 2rem;
}
/* .fb{
    margin-left: 2rem;
} */
.icon{
    margin-top: 2rem;
}
/* .twit{
    margin-left: 2rem;
    
} */
.company{
    margin-left: 8rem;
    justify-content: space-between;
}
.company h3{
    margin-top: 20px;
    font-weight: 50;
}
.services{
    margin-left: 8rem;
}
.services h3{
    font-weight: 50;
    margin-top: 20px;
}
.cus{
    margin-left: 8rem;
}

@media screen and (max-width: 850px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
    #img{
        margin-top: 2rem;
        margin-left: 7rem;
        
    }
    .company{
        margin-top: 2%;
    }
}