.footer{
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    margin-top: 5rem;
    background-color: rgb(239, 235, 230);
}
#img{
    margin-top: 2rem;
    margin-left: 2rem;
}
/* .logo{
    display: flex;
} */
.image{
   margin-top: 2rem;
    height: 3rem;
}
.hy{
    margin-left: 2rem;
}
/* .fb{
    margin-left: 2rem;
} */
.icon{
    margin-top: 2rem;
}
/* .twit{
    margin-left: 2rem;
    
} */
.company{
    margin-left: 8rem;
    justify-content: space-between;
}
.company h3{
    margin-top: 20px;
    font-weight: 50;
}
.services{
    margin-left: 8rem;
}
.services h3{
    font-weight: 50;
    margin-top: 20px;
}
.cus{
    margin-left: 8rem;
}

@media screen and (max-width: 850px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
    #img{
        margin-top: 2rem;
        margin-left: 7rem;
        
    }
    .company{
        margin-top: 2%;
    }
}
@media screen and (max-width: 360px) {
    .footer {
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        width: 26rem;
    }

    #img {
        margin-left: 0;
    }

    .company,
    .services,
    .cus {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 280px) {
    .footer{
        width: 17.5rem;
    }
    #img {
        margin-left: 0;
    }

    .image {
        height: 1.5rem; /* Adjust height as needed */
    }

    .hy,
    .icon,
    .company,
    .services,
    .cus {
        margin-left: 0;
    }

    .company {
        margin-top: 0.5rem; /* Adjust margin as needed for spacing */
    }

    .company h3,
    .services h3 {
        margin-top: 5px; /* Adjust margin as needed for spacing */
    }
}

@media screen and (max-width: 412px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 33.8rem;
    }

    #img,
    .image,
    .hy,
    .icon,
    .company,
    .services,
    .cus {
        margin-left: 0;
    }

    .company {
        margin-top: 1rem;
    }

    .services h3,
    .company h3 {
        margin-top: 10px;
    }
}