.serv {
  background-color: rgb(135, 166, 194);
}
.serv h1 {
  font-size: 3rem;
  text-align: center;
  color: rgb(37, 62, 62);
}
.serv h2 {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(43, 67, 67);
}
.main {
  margin-top: 3rem;
}
.div1 {
  display: flex;
  margin-left: 15%;
  margin-right: 10%;
}
.div2 {
  display: flex;
  margin-top: 3rem;
  margin-left: 15%;
  margin-right: 10%;
  padding-bottom: 20px;
}
.t-card {
  width: 32%;
  height: 20rem;
  text-align: start;
  box-shadow: 0 5px 50px 2px rgba(181, 58, 58, 0.11);
  border-radius: 7px;
  cursor: pointer;
  padding: 1rem 0.8rem;
  background-color: rgb(119, 137, 137);
}
.t-card h4 {
  font-size: 1.3rem;
  padding: 1rem 0.2rem 0;
}
.t-image {
  margin-top: 10%;
}
.t-card:hover {
  transform: scale(0.8);
}
@media screen and (max-width: 850px) {
  .div1,
  .div2 {
    flex-direction: column;
    margin-left: 5%;
    margin-right: 10%;
  }

  .t-card {
    width: 100%;
    margin-bottom: 1rem;
  }
  .serv h1 {
    font-size: 2rem;
    /* padding-left: 10%; */
    padding-right: 10px;
    color: rgb(37, 62, 62);
  }
}
